**MANUAL PARA IMPARTIR CURSO DE PYTHON DESDE CERO**  
**NIVEL: PRINCIPIANTE**  
**ELABORADO POR: Ing. Cintia Carmona, Ing.David Quiros**  

**DECLARACIÓN DE VARIABLES**  

Se estudia como en python se realiza la declaración de variables númericas, donde python asigna de forma automática el tipo de dato que debe tener la varibale según el valor que se le asigne

In [5]:
#Se declara una variable, Python es sencitivo a la minusculas y mayusculas 
Numero = 5

In [6]:
#Para imprimer el valor de la variable lo podemos hacer por medio del uso del print o escribir directamente el nombre de la variable
print(Numero)

5

In [7]:
#pero si no usamos el print python solo presenta por defecto el último valor 
Numero1 = 5
Numero2 = 10
Total = Numero1 + Numero2
#En este caso Numero1 no se ve en pantalla
Numero1
Total
#Ahora si ponemos un print se verá 
print(Numero1)
print(Numero2)
print(Total)

5
10
15

In [8]:
#para ver el tipo de dato de una variable usamos el type
type(Total)

int

In [9]:
#Variables decimales
NumDec= 1.7
print(NumDec)
print(type(NumDec))
type(NumDec)

1.7
<class 'float'>

float

In [10]:
#Python se encarga de asignar el tipo de dato que se necesario, ya el usuario no se debe preocupar por este tema y si una variables
#puede cambiar de tipo durante un proceso
num1= 3
num2=1.7
suma=num1+num2
print(num1)
print(num2)
print(suma)
print(type(num1))
print(type(num2))
print(type(suma))

3
1.7
4.7
<class 'int'>
<class 'float'>
<class 'float'>

**CONVERSIONES DE TIPOS DE DATOS**

Para convertir un dato a otro tipo

In [11]:
#Se utiliza la función str
Num1 = 5
Cadena = str(Num1)
print(Num1)
print(Cadena)
print(type(Num1))
print(type(Cadena))
#Igual se hace de forma inversa con número decimales
cadena = '5.1'
num= float(cadena)
print(cadena)
print(num)
print(type(cadena))
print(type(num))
print(type(str(num)))

5
5
<class 'int'>
<class 'str'>
5.1
5.1
<class 'str'>
<class 'float'>
<class 'str'>

**PRACTICA 1**  

1.Crear una variable numero1 que tenga el valor de 5  
2.Indicar el tipo de dato de la variable numero1  
3.Crear una variable numero2 que tenga el valor de 6.5  
4.Indicar el tipo de dato de la variable numero2  
5.Crear una variable numero3 que tenga el valor de 7  
6.Indicar el tipo de dato de la variable numero3  
7.Crear otra variable suma que sume los 3 valores anteriores  
8.Mostrar el resultado  
9.Indicar el tipo de dato de la variable suma

In [14]:
#SOLUCIÓN
numero1 = 5
print(type(numero1))
numero2 = 6.5
print(type(numero2))
numero3 = 7
print(type(numero3))
suma = numero1 + numero2 + numero3
print(suma)
print(type(suma))

<class 'int'>
<class 'float'>
<class 'int'>
18.5
<class 'float'>

**MANEJO DE STRING (CADENAS DE CARACTERES)**  

Pueden ir entre comillas dobles o simples.
Cada letra tiene una posición dentro de la cadena y se puede acceder a cada valor

In [15]:
cadena = 'hola ' + "Mundo"
cadena

'hola Mundo'

In [16]:
#  H    o   l   a       m   u   n   d   o
#  0    1   2   3   4   5   6   7   8   9
#-10 -9  -8  -7  -6  -5  -4  -3  -2   -1
print(cadena[0] + cadena[1] + cadena[2] + cadena[3] +  cadena[4])
#También se puede de forma inversa
print(cadena[-10] + cadena[-9] + cadena[-8] + cadena[-7] +cadena[-6])

hola
hola

In [19]:
#Tomar solo una parte de la cadena se hace con los :
print(cadena[2:7]) #no incluye la posición 7 es uno antes
#indicar un inicio pero sin final
print(cadena[2:]) #de la posición 2 hasta el resto de la cadena

la Mu
la Mundo

**LOS VALORES DE LA CADENAS NO SE PUEDEN MODIFICAR**  
No puedo hacer esto:  
**cadena[2] = 'p'**

In [22]:
#concatenar cadenas se debe hacer con "+"  
cadena1 = "HOLA"
cadena2 = " "
cadena3 = "MUNDO"
cadena = cadena1 + cadena2 + cadena3
print(cadena)
print(type(cadena))

HOLA MUNDO
<class 'str'>

**FUNCIONES DE CADENAS**  
len  = Muestra el tamaño de una cadena  
upper= convierte en mayuscula    
lower = pasa todo minuscula  
split =divide la cadena con las palabras que la conforman, lo hace por default por espacios pero también se puede cambiar
       el caracter que las divide  
**ES IMPORTANTE SACAR TODAS LAS FUNCIONES QUE TIENEN LAS CADENAS Y ESTUDIAR LAS MAS IMPORTANTES**

In [30]:
cadena = 'Hola mundo'
print(cadena)
print(len(cadena))
#solo muestra la cadena en mayuscula
print(cadena.upper())
#para convertir la cadena en mayuscula se debe
cadena = cadena.upper()
print(cadena)
#para pasarlo a minuscula
print(cadena.lower())
#para separar la cadena segun sus palabras con split por el default el espacio
print(cadena.split())
#para separar la cadena segun sus palabras con split pero cambiando el default
cadena1 = "uva,manzana,pera,melon"
print(cadena1)
print(cadena1.split(','))#cambia el caracter que las divide

Hola mundo
10
HOLA MUNDO
HOLA MUNDO
hola mundo
['HOLA', 'MUNDO']
uva,manzana,pera,melon
['uva', 'manzana', 'pera', 'melon']

**Nota importante**  
**Para ver todas las funciones de la cadenas se debe poner el nombre de la variable luego punto y dar tabulador, con esto pareceran todas las funciones disponibles**

**IMPRIMIR VARIABLES DE CADENA DE TEXTO**

In [32]:
# Concatenar una cadena de caracteres con una variable
#existe tres formas con el +, .format y f-strings(es la forma mas facil)
nombre = 'Antonio'
print('Buenos días ' + nombre)

Buenos días Antonio

In [45]:
#utilizando el format
nombre = 'Antonio'
edad = 18
print('Buenos días {} feliz cumpleaños Numero: {}'.format(nombre,edad))

Buenos días Antonio feliz cumpleaños Numero: 18

In [50]:
# Utilización del f-strings para imprimir
nombre = "Antonio"
edad = 18
print(f"Buenos días {nombre}, feliz cumpleaños Numero: {edad}")

Buenos días Antonio, feliz cumpleaños Numero: 18

**TRABAJANDO CON NUMEROS**

In [51]:
#Eliminar cantidad de decimales
resultado = 10/3
resultado

3.3333333333333335

In [40]:
#para imprimir una variable tipo float en el print sin cambiarle el tipo
print("El resultado es {r}".format(r=resultado) )

El resultado es 3.3333333333333335

In [42]:
#para imprimir una variable tipo float en el print sin cambiarle el tipo y cortando la cantidad de decimales
# r lo sustituye por lo que tiene resultado
#:1 cantidad de números enteros a mostrar
#.3f cantidad de decimales pueden ser los que se necesiten    
print("El resultado es {r:1.3f}".format(r=resultado))

El resultado es 3.333

**ENTRADA POR TECLADO**  

Ingreso de texto del teclado: para esto se utiliza la función **#input**

In [53]:
print("Ingrese su nombre")
entrada = input()
print("Hola " + entrada)

Ingrese su nombre
Arlette
Hola Arlette

**PRACTICA 2**  

Crear una variable "cadena" que contiene el texto "Esto es un texto de ejemplo"  
Segun la posición de cada letra en la cadena, calcular que valores(x,y) hay que poner para seleccionar solo la palabra 
"texto"      
cadena[x:y] = "texto"

In [54]:
cadena = "Esto es un texto de ejemplo"
print(cadena[11:16])

texto

**PRACTICA 3**  

Crear una variable "cadena" que contiene el texto "Esto es un texto de ejemplo"    
Crear una variable "longitud" que contiene la longitud (número de caracteres) de la variable cadena  
Crear una variable "mayuscula" que contiene la variable cadena en mayuscula  
Crear una variable "resultado" que contiene la variable "mayuscula" y la variable "resultado" convertida a string

In [39]:
cadena =  "Esto es un texto de ejemplo"
longitud = len(cadena)
print(longitud)
mayuscula = cadena.upper()
print(mayuscula)
resultado = mayuscula + " Esta cadena tiene una longitud de: "+ str(longitud)
print(resultado)

27
ESTO ES UN TEXTO DE EJEMPLO
ESTO ES UN TEXTO DE EJEMPLO Esta cadena tiene una longitud de: 27

**PRACTICA 3**

Crear una variable "numero1" que contiene el valor de 5  
Crear una variable "numero1" que contiene el valor de 8  
Crear una variable "nsuma" que contiene la suma de los dos números anteriores  
Imprimir el resultado utilizando la función print

In [55]:
numero1 = 5
numero2 = 8
suma = numero1+ numero2
#con la función f-strings
print(f"El resultado de sumar {numero1} mas {numero2} es {suma}")
#con format}
print("El resultado de sumar {} mas {} es {}".format(numero1,numero2,suma))

El resultado de sumar 5 mas 8 es 13
El resultado de sumar 5 mas 8 es 13

**OPERADORES ARITMETICOS**  

Los operadores aritmeticos que utiliza python básicos son: +,-,*,/  
operador del resto en la divisón es %  
cociente en la división es  //  
Operador de exponente es ***

**OPERADORES DE ASIGNACIÓN**  

El operador para asignar un valor a una variables =  
Otras expresiones +=,-=,*=,/=,**= 

Como se utilizan

In [44]:
#suma
numero = 4
numero = numero + 4
numero

8

In [45]:
#suma
numero = 4
numero +=4
numero

8

**OPERADORES DE COMPARACIÓN**  

Se utilizan para realizar comparaciones entre expresiones por lo que devuelve un true o un false  

Los operadores son:  
== igual que  
!= diferente de  
">" mayor que  
"<" menos que  
">=" mayor o igual que  
"<=" menor igual que   

**EJEMPLOS**

In [46]:
num1 = 5
num2= 2
num1 == num2

False

In [47]:
cadena1 = 'Hola'
cadena2 = 'Hola'
cadena1==cadena2

True

**OPERADORES LÓGICOS**  

Sirven para evaluar varias condiciones, estos son:  
**and** Inclusión  
**or**  Exclusión  
**not** Negación  

**EJEMPLOS**

In [48]:
n1 = 10
n2 = 5
n3 =7
n4 =8

In [49]:
n1 > n2

True

In [50]:
n3 < n4

True

In [52]:
(n1>n2) and (n3<n4)

True

**OPERADORES DE IDENTIDAD**  

Buscan identificar si dos objetos son iguales o si son diferentes:  

is verifica si dos objetos son iguales  
is not  verifica si dos objetos son diferentes  

**EJEMPLO**

In [68]:
frutas1 = ["manzana","pera"]
frutas2 = ["manzana","pera"]
frutas3 = frutas1

In [69]:
#valida si dos objetos son iguales
frutas3 is frutas1

True

In [70]:
#se añade un elemento
frutas3.append("naranja")
frutas3

['manzana', 'pera', 'naranja']

In [72]:
#is not
frutas1 = frutas3
print(frutas1)
print(frutas3)

['manzana', 'pera', 'naranja']
['manzana', 'pera', 'naranja']

In [73]:
frutas3 is frutas1

True

In [74]:
frutas3 is frutas2

False

**OPERADORES DE PERTENENCIA**  

Verifican si un objeto esta dentro de una lista de objetos  
**in**  existe  
**not in** no existe

**EJEMPLOS**

In [77]:
frutas1 = ["manzana","pera","uva"]
frutas2 = "pera"
frutas3 = "melon"

In [78]:
frutas2 in frutas1

True

In [79]:
frutas3 in frutas1

False

In [80]:
frutas3 not in frutas1

True

**PRACTICA 4**

Crear una variable nota1 que tenga un valor de 6  
Crear una variable nota2 que tenga un valor de 4  
Crear una variable nota3 que tenga un valor de 7  
Crear una variable notamedia que tenga un valor medios de las 3 notas anteriores  
Crear una variable notafinal que tenga el valor "aprobado" mayor o igual a 5

In [87]:
nota1 = 6
nota2 = 4
nota3 = 7
nota_media = (nota1 + nota2 + nota3) / 3
nota_final = nota_media
print("Su nota final es {r:1.2f}".format(r=nota_final))
if (nota_final >=5):
  print("Aprobado")
else:
  print("reporbado")

Su nota final es 5.67
Aprobado

**LISTAS**  

Una lista es una colección de elementos que esta ordenada y que se puede modificar, se definen mediante [] y separados por ,   
Se utilizan para modelar datos compuestos pero cuya cantidad y valor varían a lo largo del tiempo. Son secuencias mutables y vienen dotadas de una variedad de operaciones muy útiles.

**EJEMPLOS**

In [79]:
lista_caracteres = ['rojo','amarillo','verde']
lista_caracteres

['rojo', 'amarillo', 'verde']

In [131]:
lista_numerica = [1,3,2,5]
lista_numerica

[1, 3, 2, 5]

In [53]:
lista_variada = [1,'Promedio',92.3]
lista_variada

[1, 'Promedio', 92.3]

In [57]:
type(lista_variada[0])

int

In [58]:
type(lista_variada[1])

str

In [61]:
type(lista_variada[2])

float

In [133]:
#agregar elementos a una lista con append
lista_numerica.append(4)
print(lista_numerica)

[1, 3, 2, 5, 4]

In [134]:
# Ordenando el contenido de una lista
ordenada = sorted(lista_numerica)
ordenada

[1, 2, 3, 4, 5]

In [80]:
#Modificar un elemento de la lista
lista_caracteres[0]= 'azul'
print(lista_caracteres)

['azul', 'amarillo', 'verde']

In [71]:
#Saber el número de elementos de una lista con el uso de la función len
len(lista_caracteres)

3

In [81]:
#agregar elementos a una lista con append
lista_caracteres.append('naranja')
print(lista_caracteres)

['azul', 'amarillo', 'verde', 'naranja']

In [82]:
#Eliminar valores de la lista con remove
lista_caracteres.remove('verde')
print(lista_caracteres)

['azul', 'amarillo', 'naranja']

In [83]:
#si se quiere recorer una lista con el bucle for
for valor in lista_caracteres:
  print(valor)

azul
amarillo
naranja

In [84]:
#si queremos limpiar la lista completa lo hacemos con clear
lista_caracteres.clear()
print(lista_caracteres)

[]

**TUPLAS**  

Es una colección de elementos ordenada que no se puede modificar, se definen mediante ()

In [19]:
a=205970687

In [20]:
b="Cintia"

In [21]:
c="Carmona"

In [22]:
d=(3, "Julio", 1984)

In [23]:
tupla = a,b,c,d

In [24]:
len(tupla)

4

In [26]:
tupla

(205970687, 'Cintia', 'Carmona', (3, 'Julio', 1984))

In [27]:
tupla_info=(205970687, "Cintia", "Carmona", (3, "Julio", 1984))
tupla_info

(205970687, 'Cintia', 'Carmona', (3, 'Julio', 1984))

In [34]:
tupla == tupla_info

True

In [35]:
tupla_info[0]

205970687

In [36]:
tupla_info[1]

'Cintia'

In [38]:
tupla_info[3]

(3, 'Julio', 1984)

In [39]:
type(tupla_info[0])

int

In [40]:
type(tupla_info[1])

str

In [41]:
type(tupla_info[3])

tuple

In [43]:
len(tupla_info)

4

In [44]:
len(tupla_info[3])

3

In [127]:
#mostrar los valores con un ciclo for
for valor in tupla_info:
    print(valor)

205970687
Cintia
Carmona
(3, 'Julio', 1984)

In [128]:
tupla_info[0]

205970687

In [88]:
#Modificar un elemento de la lista
tupla_info[0]= 303710643
print(tupla_info)

TypeError: 'tuple' object does not support item assignment

In [89]:
#agregar elementos a una lista con append
tupla_info.append("Materia")
print(tupla_info)

AttributeError: 'tuple' object has no attribute 'append'

In [115]:
tupla_info

(205970687, 'Cintia', 'Carmona', (3, 'Julio', 1984))

**tupla_info .**

In [116]:
valores = ("Python", 5, "Python", 5,5)
valores

('Python', 5, 'Python', 5, 5)

In [117]:
valores.count(5)

3

In [118]:
valores.count('Python')

2

In [119]:
valores.index(5)

1

In [120]:
valores.index('Python')

0

**CONJUNTOS**

Un conjunto, es una colección no ordenada y sin elementos repetidos. Los usos básicos de éstos incluyen verificación de pertenencia y eliminación de entradas duplicadas.  

**EJEMPLO**

In [178]:
Conjunto1 = set([4, 3, 11, 7, 5, 2, 1, 4])
Conjunto1

{1, 2, 3, 4, 5, 7, 11}

In [179]:
#Este método devuelve una copia superficial del tipo conjunto
Conjunto2 =Conjunto1.copy()
Conjunto2

{1, 2, 3, 4, 5, 7, 11}

Conjunto1.

In [204]:
#Este método agrega un elemento a un conjunto
Conjunto1.add(22)
Conjunto1.add(44)
Conjunto1.add(6)
Conjunto1.add(6)
Conjunto1

{1, 2, 3, 4, 6, 7, 11, 22, 44}

In [176]:
Conjunto1 == Conjunto2

False

In [194]:
Conjunto2

{1, 2, 3, 4, 5, 7, 11}

In [173]:
Conjunto3 = set([11, 5, 9, 2, 4, 8])
Conjunto3

{2, 4, 5, 8, 9, 11}

In [174]:
Conjunto2.difference(Conjunto3)

{1, 3, 7}

In [175]:
Conjunto3.difference(Conjunto2)

{8, 9}

In [186]:
#Este método devuelve la intersección entre los conjuntos
Conjunto2.intersection(Conjunto3)

{2, 4, 5, 11}

In [216]:
#Este método devuelve la union de dos conjuntos
Conjunto2.union(Conjunto3)

{1, 2, 3, 4, 5, 7, 8, 9, 11}

In [192]:
#Este método devuelve el valor True si no hay elementos comunes entre los conjuntos
# En este caso Devuelve FALSE porque si tenemos elementos comunes
Conjunto3.isdisjoint(Conjunto2)

False

In [195]:
Conjunto1

{1, 2, 3, 4, 6, 7, 11, 22, 44}

In [196]:
#Este método remueve un elemento desde un conjunto
Conjunto1.discard('5')
Conjunto1

{1, 2, 3, 4, 6, 7, 11, 22, 44}

In [205]:
Conjunto1.discard(5)
Conjunto1

{1, 2, 3, 4, 6, 7, 11, 22, 44}

In [206]:
Conjunto4 = set([11, 7, 2, 4])
Conjunto4

{2, 4, 7, 11}

In [207]:
#Este método devuelve el valor True si el conjunto mutable es un subconjunto del
Conjunto4.issubset(Conjunto1)

True

In [211]:
#No se puede acceder a una posición especifica
Conjunto4[0]

TypeError: 'set' object is not subscriptable

In [213]:
#se puede ver el tamano del conjunto
len(Conjunto4)

4

In [214]:
#eliminar elementos de un conjunto
Conjunto4.remove(11)
Conjunto4

{2, 4, 7}

In [215]:
# Este método remueve todos los elementos desde este conjunt
Conjunto4.clear()
Conjunto4

set()

**DICCIONARIOS**  

Un diccionario es una colección de elementos indexados, que no estan ordenados y se pueden modificar, son escritos entre {}  y son [clave : valor  ]  
Ejemplo: red: rojo  
clave= red  
valor = rojo

In [250]:
diccionario = {
     "numero":234,
     "logico":True,
     "string":"Cadena",
     "lista":[1,2,3,4]
 }

In [245]:
diccionario

{'numero': 234, 'logico': True, 'string': 'Valor 1', 'lista': [1, 2, 3, 4]}

In [246]:
type(diccionario)

dict

In [251]:
# Obteniendo valores del diccionario
diccionario['numero']

234

In [260]:
Lista = diccionario['lista']
Lista

[1, 2, 3, 4]

In [253]:
#Este método devuelve el valor en base a una coincidencia de búsqueda en un diccionario mediante una clav
diccionario.get('string')

'Cadena'

In [258]:
#Este método devuelve una lista de las claves del diccionario:
diccionario.keys()

dict_keys(['numero', 'logico', 'string', 'lista'])

In [259]:
##Este método devuelve una lista de las claves del diccionario:
diccionario.values()

dict_values([234, True, 'Cadena', [1, 2, 3, 4]])

In [238]:
#añadir elementos a un diccionario
diccionario['Flotante'] = 3.14
diccionario

{'numero': 234,
 'logico': True,
 'string': 'Valor 1',
 'lista': [1, 2, 3, 4],
 'Flotante': 3.14}

In [239]:
#borrar valores de un diccionario con la función pop
diccionario.pop('numero')
diccionario

{'logico': True, 'string': 'Valor 1', 'lista': [1, 2, 3, 4], 'Flotante': 3.14}

In [240]:
#Recorres un diccionario con un bucle for viendo las claves
for i in diccionario:
    print(i)

logico
string
lista
Flotante

In [241]:
#si queremos ver tanto las claves como los valores se deben usar dos bucles for
for clave,valor in diccionario.items():
    print(clave,valor)

logico True
string Valor 1
lista [1, 2, 3, 4]
Flotante 3.14

**REPASO GENERAL: LISTAS, TUPLAS, CONJUNTO Y DICCIONARIOS**

**LISTAS:**

Una lista es una colección de elementos que esta ordenada, SI se puede modificar
se definen mediante [] y separados por ,
Se utilizan para modelar datos compuestos pero cuya cantidad y valor varían a lo largo del tiempo. 


**TUPLAS:**

 Es una acción de elementos ordenada que NO se puede modificar
 se definen mediante () y separados por ,

**CONJUNTO:** 

Un conjunto, es una colección no ordenada y sin elementos repetidos. 
Los usos básicos de éstos incluyen verificación de pertenencia y eliminación de entradas duplicadas.


**DICCIONARIO:**

Un diccionario es una colección de elementos indexados
NO estan ordenados y se pueden modificar, son escritos entre {} 
Son [clave : valor ]

**SENTENCIAS CONDICIONALES**

**CONDICIÓN if-elif-else**   

Sirve para verificar si una expresión es cierta o no  
La sentencia condicional if se usa para tomar decisiones, este evaluá básicamente una operación lógica, es decir una expresión que de como resultado True o False, y ejecuta la pieza de código siguiente siempre y cuando el resultado sea verdadero

In [320]:
# EXPRESION ELSE IF = ELIF

a = 8
b = 4
if (a>b):
    print('a es mayor que b')
elif (a == b):
    print('a es igual a b')
else:
   print ('Ninguna condición se cumple')

a es mayor que b

In [319]:
# Una forma diferente de asignar variables
dato1, dato2, dato3 = 10, 21, 5;
dato1
dato2
dato3

5

In [283]:
#Ejemplo de operador de comparación Igual:

if (dato1 == dato2):
    print ("'dato1' y 'dato2' son iguales.")
else:
    print ("'dato1' y 'dato2' no son iguales.")

'dato1' y 'dato2' no son iguales.

In [292]:
#Ejemplo de operadores compuestos

if ((dato1 < dato2) and (dato1 < dato3)):
    print ("'dato1' es el numero mas pequeño")
elif dato2 < dato3:
    print ("'dato3' es el numero mas pequeño")    
else:
    print ("'dato3=' [ {} ] es el numero mas pequeño".format(dato3))

'dato3=' [ 5 ] es el numero mas pequeño

In [313]:
# Utilizando el NOT IN, conversiones de tipos, captura de teclado
list = [1,2,3,4,5]
entrada  = input()
print (type(entrada))
x = int(entrada)
print (type(x))

if x not in list:
    print ('x NO esta en la Lista')
else:
     print ('x SI esta en la Lista')

11
<class 'str'>
<class 'int'>
x NO esta en la Lista

In [314]:
# Expresion Logica
Conjunto3.isdisjoint(Conjunto2)

False

In [315]:
# Ejemplo Expresion Logica
if (Conjunto3.isdisjoint(Conjunto2)):
    print ("Conjunto3 ES SubConjunto de Conjunto2")
else:
    print ("Conjunto3 NO ES SubConjunto de Conjunto2")

Conjunto3 NO ES SubConjunto de Conjunto2

**PRACTICA 5**

Dada la siguiente lista = [1,2,5,25,33,56,75,21,56,89,43,13,62,24]  
Mostrar mediante el método print y el operador "in" si el número 21 esta en la lista, hacer el recorrido de la lista mediante un for.

**BUCLE for**  

Sirve para recorrer una lista de elementos

In [452]:
# FOR con Listas 
animales = ['gato', 'perro', 'serpiente']
for animal in animales:
    print ("El animal es: {0}, tamaño de palabra es: {1}".format(
        animal, len(animal)))

El animal es: gato, tamaño de palabra es: 4
El animal es: perro, tamaño de palabra es: 5
El animal es: serpiente, tamaño de palabra es: 9

In [326]:
cadena = 'Hola'
for valor in cadena:
    print(valor)

H
o
l
a

In [337]:
oracion = 'Mary entiende muy bien Python'
frases = oracion.split() # convierte a una lista cada palabra
print ("La oración analizada es:", oracion, ".\n")
for palabra in range(len(frases)):
    print ("Palabra: {0}, en la frase su posición es: {1}".format(
        frases[palabra], palabra))

La oración analizada es: Mary entiende muy bien Python .

Palabra: Mary, en la frase su posición es: 0
Palabra: entiende, en la frase su posición es: 1
Palabra: muy, en la frase su posición es: 2
Palabra: bien, en la frase su posición es: 3
Palabra: Python, en la frase su posición es: 4

In [453]:
# Bucle FOR con DICCIONARIOS
datos_basicos = {
    "nombres":"Leonardo Jose",
    "apellidos":"Caballero Garcia",
    "cedula":"26938401",
    "fecha_nacimiento":"03/12/1980",
    "lugar_nacimiento":"Maracaibo, Zulia, Venezuela",
    "nacionalidad":"Venezolana",
    "estado_civil":"Soltero"
}
clave = datos_basicos.keys()
valor = datos_basicos.values()
cantidad_datos = datos_basicos.items()

for clave, valor in cantidad_datos:
    print (clave + ": " + valor)

nombres: Leonardo Jose
apellidos: Caballero Garcia
cedula: 26938401
fecha_nacimiento: 03/12/1980
lugar_nacimiento: Maracaibo, Zulia, Venezuela
nacionalidad: Venezolana
estado_civil: Soltero

In [358]:
frases = "Agua","Casa","Cate","Corazon", "Pasa",
for parametro in frases:
    print (parametro)
else:
    print ("""La Adivinanza es: 
 ¿ {uno}  {dos} por  mi  {tres} , {cuatro} de mi {cinco} ???""".format(
       uno=frases[0], dos=frases[4],
	   tres=frases[1], cuatro=frases[2],
	   cinco =frases[3]))

Agua
Casa
Cate
Corazon
Pasa
La Adivinanza es:
 ¿ Agua  Pasa por  mi  Casa , Cate de mi Corazon ???

In [329]:
# Se define un rango de números, para hacerlo con un inicio y fin renge(3,7)
range(8)

range(0, 8)

In [330]:
for valor in range(8):
    print (valor)

0
1
2
3
4
5
6
7

In [331]:
for valor in range(3,8):
    print (valor)

3
4
5
6
7

In [332]:
#break es para parar un bucle, mata la ejecución del bucle
for numero in range(10):
    if (numero == 5):
        break
print(numero)

5

In [334]:
#for anidados
for numero1 in range(4):    # recorre del 0 al 3
   for numero2 in range(3): # recorre del 0 al 2
    print(numero1,numero2)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2
3 0
3 1
3 2

**BUCLE while **  

Ejecuta un conjunto de acciones mientras que se cumpla una condición

In [371]:
valor = 1
fin = 10
while (valor < fin):
  print(valor)
  valor +=1

1
2
3
4
5
6
7
8
9

In [370]:
# Imprimir numeros impares Diferente forma de impresion
i = 1
while i <= 100:
    print(i, end=" ")
    i += 2

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [372]:
i = 1
while i <= 3:
    print(i)
    i += 1
print("Programa terminado")

1
2
3
Programa terminado

In [373]:
valor = 1
fin = 10
while (valor < fin):
  print(valor)
  valor +=1
  if (valor == 4):
    print('Se paro el bucle while por el break, no llego al final que era 10')    
    break

1
2
3
Se paro el bucle while por el break, no llego al final que era 10

**PRACTICA 6**

Crear un diccionario con los siguientes pares de valores:    
manzana, apple  
naranja, orange  
platano, banana  
limon, lemon  

Muestra la traducción para la palabra "naranja"  
Añade un elemnto nuevo que sea "piña" "pineapple"  
Haz un bucle para mostrar todos los elementos del diccionario

In [172]:
diccionario_frutas = {'manzana':'apple','naranja':'orange','platano':'banana','limon':'lemon'}
print(diccionario_frutas)
valor = diccionario_frutas['naranja']
print(valor)
for clave,valor in diccionario_frutas.items():
    print(clave,valor)

{'manzana': 'apple', 'naranja': 'orange', 'platano': 'banana', 'limon': 'lemon'}
orange
manzana apple
naranja orange
platano banana
limon lemon

**PRACTICA 7**  

Crear una variable nota que tenga el valor de 4.2
Crear una variable trabajo_realizado que tenga un valor de "si"
Calcular el valor de la variable "nota_final" teniendo en cuenta que, si la nota_final es mayor o igual a 4, y el valor de las variables "trabajo_realizado" es igual a "si", entonces "nota_final" sera igual a "aprobado", en caso contrario será igual a "suspendido"

In [174]:
nota = 4.2
trabajo_realizado = 'si'
if (nota >= 4) and (trabajo_realizado == 'si'):
    nota_final = "Aprobado"
else:
    nota_final = "Suspendido"
print ('Usted fue:' + nota_final)

Usted fue:Aprobado

**FIN MODULO 1 PRINCIPIANTES**

**FUNCIONES**

Una función es un bloque de código con un nombre asociado,   
que recibe cero o más argumentos como entrada,   
sigue una secuencia de sentencias, la cuales ejecuta una   operación deseada  
y devuelve un valor y/o realiza una tarea,   
este bloque puede ser llamados cuando se necesite.

In [ ]:
#La sintaxis para una definición de función en Python es:
def NOMBRE(LISTA_DE_PARAMETROS):
    """DOCSTRING_DE_FUNCION"""
    SENTENCIAS
    RETURN [EXPRESION]

A continuación se detallan el significado de pseudo código fuente anterior:

NOMBRE, es el nombre de la función.  
LISTA_DE_PARAMETROS, es la lista de parámetros que puede recibir una función.  
DOCSTRING_DE_FUNCION, es la cadena de caracteres usada para documentar la función.  
SENTENCIAS, es el bloque de sentencias en código fuente Python que realizar cierta operación dada.  
RETURN, es la sentencia return en código Python.  
EXPRESION, es la expresión o variable que devuelve la sentencia return.

In [388]:
def hola(arg):
     """El docstring de la función"""
     print ("Hola", arg, "!")

In [432]:
hola("Clase")

Hola Clase !

In [434]:
#Ejemplo funcion con 2 parametros de entrada
def suma(numero1,numero2):
    '''función la cual suma dos números'''
    print (numero1 + numero2)
    print ("\n")

suma(30, 10)

40

In [435]:
# Sentencia Return e invocacion de parametros
# Las funciones pueden comunicarse con el exterior de las mismas, al proceso principal del programa usando la sentencia return

def resta(a, b):
     return a - b

resta(30, 10)

20

In [436]:
# Por nombre de parametros, sin importar el orden
resta(b=30, a=10)

-20

In [437]:
# Llamada sin parametros provoca ERROR
resta()

TypeError: resta() missing 2 required positional arguments: 'a' and 'b'

In [438]:
# Manejando los nulls en parametros
def resta(a=None, b=None):
     if a == None or b == None:
         print ("Error, debes enviar dos números a la función")
         return
     return a - b

In [439]:
resta()

Error, debes enviar dos números a la función

In [440]:
# Retorno Multiple
# Devuelve valores múltiples separados por comas:
# Caracter: Clase Python   ,  Numerico: 20  ,  Lista: [1,2,3]
def prueba():
     return "Clase Python", 20, [1,2,3]	
	 
prueba()

('Clase Python', 20, [1, 2, 3])

In [444]:
#Ejemplos de Funciones	
def iva():
    '''función básica para el calculo del IVA'''
    iva = 12
    monto = input('¿Cual es el monto a calcular?: ')
    costo = int(monto)
    calculo = costo * iva / 100
    print ("El calculo de IVA es: " + str(calculo) + "\n")

In [445]:
iva()

¿Cual es el monto a calcular?: 12000
El calculo de IVA es: 1440.0

In [450]:
#TABULACION, paso importante en la definicion de Funciones
#Ejemplos de Funciones con bucles y condicionales
	
def muchos_pcn():
    a = input("Cuantos numeros quiere procesar: ")
    i =int(a)
    for j in range(0,i):
        b = input("Ingrese un numero: ")
        x = int(b)
        if x > 0:
            print ("Numero positivo")
        elif x == 0:
            print ("Igual a 0")
        else:
            print ("Numero negativo")

In [447]:
muchos_pcn()

Cuantos numeros quiere procesar: 3
Ingrese un numero: 1
Numero positivo
Ingrese un numero: 2
Numero positivo
Ingrese un numero: 2
Numero positivo

In [455]:
def cuenta_regresiva(numero):
     numero -= 1
     if numero > 0:
         print (numero)
         cuenta_regresiva(numero)
     else:
         print ("Boooooooom!")
     print ("Fin de la función", numero)

In [456]:
cuenta_regresiva(10)

9
8
7
6
5
4
3
2
1
Boooooooom!
Fin de la función 0
Fin de la función 1
Fin de la función 2
Fin de la función 3
Fin de la función 4
Fin de la función 5
Fin de la función 6
Fin de la función 7
Fin de la función 8
Fin de la función 9

In [457]:
 def factorial(numero):
     print ("Valor inicial ->",numero)
     if numero > 1:
         numero = numero * factorial(numero -1)
     print ("valor final ->",numero)
     return numero

In [458]:
	factorial(12)

Valor inicial -> 12
Valor inicial -> 11
Valor inicial -> 10
Valor inicial -> 9
Valor inicial -> 8
Valor inicial -> 7
Valor inicial -> 6
Valor inicial -> 5
Valor inicial -> 4
Valor inicial -> 3
Valor inicial -> 2
Valor inicial -> 1
valor final -> 1
valor final -> 2
valor final -> 6
valor final -> 24
valor final -> 120
valor final -> 720
valor final -> 5040
valor final -> 40320
valor final -> 362880
valor final -> 3628800
valor final -> 39916800
valor final -> 479001600

479001600

In [468]:
import os
os.listdir("./")

['.anaconda',
 '.astropy',
 '.conda',
 '.condarc',
 '.config',
 '.glue',
 '.ipynb_checkpoints',
 '.ipython',
 '.jupyter',
 '.matplotlib',
 '.plotly',
 '.pylint.d',
 '.RapidMiner',
 '.spyder-py3',
 '.VirtualBox',
 '.vscode',
 '3D Objects',
 'Anaconda3',
 'AppData',
 'Carpeta_Curso',
 'CmapToolsLogs',
 'Configuración local',
 'Contacts',
 'Cookies',
 'Datos de programa',
 'Desktop',
 'Documents',
 'Downloads',
 'EjerciciosCintia',
 'Entorno de red',
 'Favorites',
 'Google Drive',
 'Impresoras',
 'InstallAnywhere',
 'IntelGraphicsProfiles',
 'Links',
 'Menú Inicio',
 'Microsoft',
 'MicrosoftEdgeBackups',
 'Mis documentos',
 'Modulo 1 principiantes.ipynb',
 'Modulo 1 principiantes.py',
 'Music',
 'NTUSER.DAT',
 'ntuser.dat.LOG1',
 'ntuser.dat.LOG2',
 'NTUSER.DAT{f315dd05-d82b-11e9-b953-a9c4845d605b}.TM.blf',
 'NTUSER.DAT{f315dd05-d82b-11e9-b953-a9c4845d605b}.TMContainer00000000000000000001.regtrans-ms',
 'NTUSER.DAT{f315dd05-d82b-11e9-b953-a9c4845d605b}.TMContainer00000000000000000002.regtrans-ms',
 'ntuser.ini',
 'OneDrive',
 'Pictures',
 'Plantillas',
 'PracticaSemana3',
 'ProyectosEdu',
 'Reciente',
 'SalidaTableauCintia.hyper',
 'Saved Games',
 'Searches',
 'SendTo',
 'Videos',
 'VirtualBox VMs']